* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, p, h3 {
    font-family: cinzel, sans-serif;
    text-align: center;
    padding: 10px;
    
}

.elements {
    background: #FFDB58;
    margin-left: 280px;
    margin-top: 20px;
    width: 900px;
    border: 1px solid black;
    padding-bottom: 50px;
}

h1 {
    margin-top: 50px;
}

.crack {
    font-family: cinzel, sans-serif;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: 155px;
    
    display: grid;

}

.container {
    position: absolute;
    top: 82%;
  left: 45%;
}


.inside{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative;
}



body, button {
	font-size: 16px;
	line-height: 1.5;
}
body {
    background: #FF0114;
}
button {
	cursor: pointer;
}
/* Cookie */
.fc {
	background: transparent;
	display: block;
	margin: 4.5em auto 0 auto;
	position: relative;
	width: 20em;
	height: 17em;
    border-radius: 80%;
    
}
.fc:focus {
	outline: transparent;
}
.fc-part, .fc-fortune {
	position: absolute;
	top: 0;
}
.fc-part {
	background: currentColor;
	color: #efaa5d;
}
.fc-part {
	width: 8em;
	height: 18em;
	z-index: 2;
}
.left {
	border-radius: 7em 1em 1em 7em / 50%;
	box-shadow:
		0.5em 0 0 inset,
		0.5em 0.2em 0 inset,
		1em 0.2em 0 #fff6 inset,
		-0.75em 0 0 #0002 inset;
	clip-path: polygon(0% 0%, 68% 0%, 100% 30%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 68% 0%, 100% 30%, 100% 100%, 0% 100%);
	left: calc(50% - 5.4em);
	transform: rotate(25deg);
	transform-origin: 68% 0;
    
}
.right {
	border-radius: 1em 7em 7em 1em / 50%;
	box-shadow:
		-0.5em 0 0 inset,
		-0.5em 0.2em 0 inset,
		-1em 0.2em 0 #fff6 inset,
		0.75em 0 0 #0002 inset;
	clip-path: polygon(0% 30%, 32% 0%, 100% 0, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 30%, 32% 0%, 100% 0, 100% 100%, 0% 100%);
	right: calc(50% - 5.4em);
	transform: rotate(-25deg);
	transform-origin: 32% 0;
}


/* Fortune */
.fc-fortune {
	background:
		linear-gradient(#fff0 .75em,#fff 0 5.25em,#fff0 0),
		linear-gradient(90deg,currentColor 3em,#fff 0 25.25em,currentColor 0);
	color: #00c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.75em 1.5em 0.75em 3.75em;
	text-align: center;
	width: 26em;
	height: 6em;
	left: 0;
	transform: scale(0,1);
	transform-origin: 50% 32%;
}
.fc-fortune-text {
	font-family: serif;
}


/* Animation States */
.spawned {
	animation: popIn 0.3s linear;
}
.opened {
	width: 26em;
	height: 6em;
}
.opened .left {
	animation: breakLeft 0.7s ease-in forwards;
}
.opened .right {
	animation: breakRight 0.7s ease-in forwards;
}

.opened .fc-fortune {
	animation: foldOut 0.7s ease-in forwards;
}

/* Animations */
@keyframes popIn {
	from {
		transform: scale(0);
	}
	75% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}
@keyframes breakLeft {
	from {
		transform: translateX(0) rotate(25deg);
	}
	30%, 40% {
		transform: translateX(0) rotate(55deg);
	}
	70%, 80% {
		opacity: 1;
		transform: translateX(-14em) rotate(50deg);
	}
	to {
		opacity: 0;
		transform: translateX(-14em) rotate(50deg);
	}
}
@keyframes breakRight {
	from {
		transform: translateX(0) rotate(-25deg);
	}
	30%, 40% {
		transform: translateX(0) rotate(-55deg);
	}
	70%, 80% {
		opacity: 1;
		transform: translateX(14em) rotate(-50deg);
	}
	to {
		opacity: 0;
		transform: translateX(14em) rotate(-50deg);
	}
}
@keyframes fallOut {
	from {
		left: calc(50% - 0.4em);
		width: 0.8em;
		transform: translateY(0);
	}
	30% {
		opacity: 1;
	}
	60%, to {
		opacity: 0;
		left: calc(50% - 3em);
		width: 6em;
		transform: translateY(24em);
	}
}
@keyframes foldOut {
	from {
		transform: scale(0.23,0.7);
	}
	30%, 40% {
		transform: scale(0.5,0.7);
	}
	69% {
		transform: scale(1,0.7);
	}
	74%, to {
		transform: scale(1,1);
	}
}

/* Responsiveness */
@media only screen and (max-width: 1125px) {
    .elements {
        margin-left: 350px;
        width: 400px;
    }

    .container {
        position: absolute;
        top: 84%;
      left: 43%;
    }

    .fc-fortune {
      
        padding: 0.75em 1.5em 0.75em 3.75em;
        text-align: center;
        width: 17em;
        
       
    }

    .right {
        border-radius: 1em 9em 7em 1em / 50%;
    }

    .left {
        border-radius: 11em 1em 1em 7em / 50%;
    }
}

@media only screen and (max-width: 980px) {
    .elements {
        margin-left: 150px;
        width: 400px;
    }

    .container {
        position: absolute;
        top: 84%;
      left: 37%;
      padding-top: 15px;
    }

    .fc-fortune {
      
        padding: 0.75em 1.5em .75em 3.75em;
        text-align: center;
        width: 17em;
        
       
    }

    .right {
        border-radius: 1em 9em 7em 1em / 50%;
    }

    .left {
        border-radius: 11em 1em 1em 7em / 50%;
    }
}





@media only screen and (max-width: 890px) {
    .elements {
        margin-left: 50px;
        width: 400px;
    }

    .container {
        position: absolute;
        top: 84%;
      left: 37%;
      padding-top: 15px;
    }

    .fc-fortune {
      
        padding: 0.75em 1.5em .75em 3.75em;
        text-align: center;
        width: 17em;
        
       
    }

    .right {
        border-radius: 1em 9em 7em 1em / 50%;
    }

    .left {
        border-radius: 11em 1em 1em 7em / 50%;
    }
}

